

# SMTP (Outlook)
# SMTP_HOST=smtp.office365.com
# SMTP_PORT=587
# SMTP_USER=technophilefirdous@outlook.com
# SMTP_PASS=rogsupfrgzvftaiy
# SMTP_FROM=technophilefirdous@outlook.com

# SMTP (Personal Outlook)
# SMTP_HOST=smtp-mail.outlook.com
# SMTP_PORT=587
# SMTP_USER=technophilefirdous@outlook.com
# SMTP_PASS=rogsupfrgzvftaiy
# SMTP_FROM=technophilefirdous@outlook.com

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SMTP_PASS=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SMTP_FROM=XXXXXXXXXXXXXXXXXXXXX

# Jira
JIRA_HOST=XXXXXXXXXX
JIRA_USER=XXXXXXXXXX
JIRA_PASS=XXXXXXXXXXXXXXXXXXX
JIRA_PROJECT_KEY=XXXXXXX

# Ollama
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama2:latest
